{{!-- Navbar --}}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand me-5" href="/">Travel Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
            aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-primary" href="/submit">Submit a review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/browse" tabindex="-1">Browse Reviews</a>
                </li>
            </ul>
            <form>
                <input class="form-control" type="text" placeholder="Find a review">
            </form>
        </div>
    </div>
</nav>

<main class="container mt-3">

    {{!-- Header --}}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Submit a review</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    {{!-- Form --}}
    <div class="row">
        {{!-- User name field --}}
        <div class="col-lg-6 col-md-12">
            <div class="mb-3">
                <label for="reviewer-name" class="form-label">Your name</label>
                <input class="form-control" name="reviewer-name" id="reviewer-name" placeholder="Input name">
            </div>
        </div>
        {{!-- City name field --}}
        <div class="col-lg-6 col-md-12">
            <div class="mb-3">
                <label for="city-name" class="form-label">City you have visited</label>
                <input class="form-control" name="city-name" id="city-name" placeholder="Input city here">
            </div>
        </div>
    </div>
    {{!-- Review field --}}
    <div class="mb-3">
        <label for="city-review" class="form-label">Share your experience</label>
        <textarea placeholder="Input your review" class="form-control" id="city-review" name="city-review"
            rows="3"></textarea>
    </div>
    {{!-- Add picture --}}
    <div class="mb-3">
        <label for="formFile" class="form-label">Add a picture</label>
        <form class="form-control" action='/api/images' method="post" enctype="multipart/form-data">
            <input type='file' name='image' />
        </form>
    </div>

    <div>
        <h4>Add more information</h2>
    </div>
    {{!-- Fields for more info - hidden --}}
    <div class="d-none" id="hotel-review-input">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Hotel</label>
            <input type="email" class="form-control" id="hotel-name-text" placeholder="London">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Type your review here</label>
            <textarea class="form-control" id="hotel-review-text" rows="3"></textarea>
        </div>
    </div>
    <div class="d-none" id="restaurant-review-input">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Restaurant</label>
            <input type="email" class="form-control" id="restaurant-name-text" placeholder="London">
        </div>
        <div class="mb-3" id="restaurant-review-text">
            <label for="exampleFormControlTextarea1" class="form-label">Type your review here</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </div>
    {{!-- Buttons to show more info --}}
    <div class="mb-3">
        <button type="button" id="hotel-review" class="btn btn-secondary btn-sm">Hotel Review</button>
        <button type="button" id="restaurant-review" class="btn btn-secondary btn-sm">Restaurant Review</button>
        <button type="button" id="activity-review" class="btn btn-secondary btn-sm">Activity Review</button>
    </div>

    {{!-- Submit Btn --}}
    <div>
        <button type="button" id="submit-btn" class="btn btn-secondary btn-lg">Submit your review</button>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
    </script>
<script src="/assets/js/submit.js" defer></script>