<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand me-5" href="#">Travel Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
            aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav me-auto mb-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Submit a review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Browse Reviews</a>
                </li>
            </ul>
            <form>
                <input class="form-control" type="text" placeholder="Find a review">
            </form>
        </div>
    </div>
</nav>
<main class="container mt-3">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Submit a review</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">City</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="London">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Type your review here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Add a picture</label>
        <form class="form-control" action='/api/images' method="post" enctype="multipart/form-data">
            <input type='file' name='image' />
        </form>
    </div>
    <div>
        <h4>Add more information</h2>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-secondary btn-sm">Hotel Review</button>
        <button type="button" class="btn btn-secondary btn-sm">Restaurant Review</button>
        <button type="button" class="btn btn-secondary btn-sm">Activity Review</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg">Submit your review</button>
    </div>
</main>