.form-error {
  color: crimson;
  margin: 0;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 0.8rem;
  line-height: 0.5;
  opacity: 0;
}

.uploaded-card {
  display: inline-block;
  margin-left: 5vw;
}

.top-bg-home {
  background-image: url('./pexels-burst-374870.png');
  background-position: bottom;
}

.top-bg-browse {
  background-image: url('./pexels-vincent-gerbouin-1174732.png');
  background-position: bottom;
}

.bg-img-submit {
  background-image: url('./grandmother-1822564_1920.png');
}

.bg-placeholder-img{
  background-image: url('./beer-garden-3771924_640.png');
  width: 400;
  height: 250;
}

.card-height {
  margin-bottom: 20px;
  min-height: 590px;
}

.card-img-mxh {
  max-height: 333.281px;
}

.card-text-minh{
  min-height: 120px;
}
